In [1]:
from datetime import date
import covidcast

In [3]:
dataCounty = covidcast.signal("fb-survey", "smoothed_wearing_mask",
                        date(2020, 10, 15), date(2020, 11, 29),
                        "county")

In [9]:
dataState = covidcast.signal("fb-survey", "smoothed_wearing_mask",
                        date(2020, 9, 15), date(2020, 11, 29),
                        "state")

In [10]:
dataState["value"].mean()

86.89759959213106

In [11]:
dataStateAgg = dataState.groupby('time_value', as_index=False)['value'].mean()

In [12]:
dataStateAgg.tail()

   time_value      value
71 2020-11-25  91.435080
72 2020-11-26  91.487374
73 2020-11-27  91.518609
74 2020-11-28  91.541199
75 2020-11-29  91.647481

In [13]:
dataState.to_csv('maskCompliance.csv', index=False)