In [14]:
from datetime import date
import covidcast

In [3]:
dataCounty = covidcast.signal("fb-survey", "smoothed_wearing_mask",
                        date(2020, 10, 15), date(2020, 11, 29),
                        "county")

In [15]:
dataState = covidcast.signal("fb-survey", "smoothed_wearing_mask",
                        date(2020, 9, 15), date(2020, 12, 3),
                        "state")

In [16]:
dataState["value"].mean()

87.13078335990197

In [17]:
dataStateAgg = dataState.groupby('time_value', as_index=False)['value'].mean()

In [18]:
dataStateAgg.tail()

   time_value      value
75 2020-11-29  91.647951
76 2020-11-30  91.611861
77 2020-12-01  91.579861
78 2020-12-02  91.501806
79 2020-12-03  91.550326

In [19]:
dataState.to_csv('maskCompliance.csv', index=False)