In [1]:
from datetime import date
import covidcast

In [3]:
dataCounty = covidcast.signal("fb-survey", "smoothed_wearing_mask",
                        date(2020, 10, 15), date(2020, 11, 29),
                        "county")

In [11]:
dataState = covidcast.signal("fb-survey", "smoothed_wearing_mask",
                        date(2020, 9, 15), date(2020, 12, 7),
                        "state")

In [12]:
dataState["value"].mean()

87.35179956998132

In [9]:
dataStateAgg = dataState.groupby('time_value', as_index=False)['value'].mean()

In [10]:
dataStateAgg.tail()

   time_value      value
79 2020-12-03  91.550577
80 2020-12-04  91.659575
81 2020-12-05  91.809469
82 2020-12-06  91.798847
83 2020-12-07  91.820161

In [13]:
dataState.to_csv('maskCompliance.csv', index=False)